{
 "presets": [
   [
     "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
   "@babel/preset-typescript"
 ],
 "plugins": [
    ["transform-class-properties"],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "pages": "./src/pages",
          "components": "./src/components",
          "constants": "./src/constants",
          "containers": "./src/containers",
          "styles": "./src/styles",
          "interfaces": "./src/interfaces",
          "dummy": "./src/dummy",
          "apis": "./src/apis",
          "hooks": "./src/hooks"
        }
      }
    ],
    [
      "emotion",
      {
        "sourceMap": true,
        "autoLabel": true,
        "labelFormat": "[dirname]_[local]",
        "cssPropOptimization": true
      }
    ]
 ]
}